{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 132,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser":"html"
      }
    },
    {
      "files": "*.component.html",
      "options": {
        "parser":"angular"
      }
    }
  ]
}
