<div class="wrapper">
  <ng-container *ngIf="isVisible">
    <!-- <ng-container> -->
    <div class="header">
      <div class="start">
        <div class="title" *ngIf="title">{{ title }}</div>
      </div>
      <div class="end">
        <div class="actions">
          <div class="action" *ngIf="isMultiScreen && options?.originalPlacement !== panelPlacement.Window">
            <button (click)="onUpdatePlacement(panelPlacement.Window)">Window</button>
          </div>
          <div class="action" *ngIf="options?.originalPlacement !== panelPlacement.Popup">
            <button (click)="onUpdatePlacement(panelPlacement.Popup)">Popup</button>
          </div>
          <div class="action" *ngIf="options?.originalPlacement !== panelPlacement.Embeded">
            <button (click)="onUpdatePlacement(panelPlacement.Embeded)">Embeded</button>
          </div>
        </div>
      </div>
    </div>
    <!-- {{ options?.key }} -- {{ options?.placement }} -->
    <div class="content"><ng-content></ng-content></div>
  </ng-container>
</div>
